"""{{ project_name | replace('_',' ') }}.{% if project_description %}

{{ project_description }}

{% endif %}"""

# from .{{ module_name }} import {{ module_name }}

__version__ = '0.0.1'

__all__ = [ '{{ module_name }}' ]


# TODO: look at https://jinja.palletsprojects.com/en/stable/templates/#list-of-builtin-filters