[project]
name = "{{ project_name }}"
version = "0.0.1"
description = """{{ project_description }}"""
readme = "README.md"
authors = [
    {name = "{{ user_name }}", email = "{{ user_email }}"},
]
maintainers = [
    {name = "{{ user_name }}", email = "{{ user_email }}"},
]
keywords = {{ project_keywords }}
license = {text = "{{ project_licence }}"}
classifiers=[
        '{{ project_development_status }}',

        {% if project_environment %}{% for p_var in project_environment -%}
        '{{ p_var }}',
        {% endfor %}{% endif %}
        {% if project_framework %}{% for p_var in project_framework -%}
        '{{ p_var }}',
        {% endfor %}{% endif %}
        {% if project_intended_audience %}{% for p_var in project_intended_audience -%}
        '{{ p_var }}',
        {% endfor %}{% endif %}
        {% if project_license %}{% for p_var in project_license -%}
        '{{ p_var }}',
        {% endfor %}{% endif %}
        {% if project_natural_language %}{% for p_var in project_natural_language -%}
        '{{ p_var }}',
        {% endfor %}{% endif %}
        {% if project_operating_system %}{% for p_var in project_operating_system -%}
        '{{ p_var }}',
        {% endfor %}{% endif %}
        {% if project_programming_language %}{% for p_var in project_programming_language -%}
        '{{ p_var }}',
        {% endfor %}{% endif %}
        {% if project_topic %}{% for p_var in project_topic -%}
        '{{ p_var }}',
        {% endfor %}{% endif %}
        '{{ project_typing }}',
]
requires-python = ">=3.5"
dependencies = []

[project.urls]
Homepage = "{{ project_homepage}}"
Repository = "{{ project_repo }}"
Changelog = "{{ project_repo }}/releases"
Issues = "{{ project_repo }}/issues"

[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[dependency-groups]
dev = [
    "mypy",
    "pytest",
    "pytest-cov",
    "ruff",
]
tox = [
	"tox-uv; python_version >= '3.9'",
]
pre-commit = [
	"pre-commit-uv; python_version >= '3.9'"
]
mkdocs = [
    "mkdocstrings-python; python_version >= '3.9'",
    "mkdocs-gen-files; python_version >= '3.9'",
	"mkdocs-literate-nav; python_version >= '3.9'",
	"mkdocs-section-index; python_version >= '3.9'"
]
