site_name: "{{ project_name }}"

theme: readthedocs

nav:
- Home: index.md
- About: about.md
- Code Reference: reference/



plugins:
- search
- gen-files:
    scripts:
    - scripts/gen_ref_pages.py
- literate-nav:
    nav_file: SUMMARY.md
- section-index
- mkdocstrings